* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 3rem auto fit-content(8rem);
  grid-template-areas:
    "header"
    "main"
    "footer";
  color: #333;

  font-family: "Helvetica Neue", sans-serif;
}

main {
  grid-area: main;
  text-align: center;
  padding: 1rem;
  /* max-width: 240px; */
  margin: 0;
}

header h2 {
  margin: auto;
  font-weight: normal;
}

header {
  color: white;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 3rem;
  background: #6d1919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
}
div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.5rem;
}

img {
  height: 2rem;
  fill: white;
}
