.header {
  color: white;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 3rem;
  background: #6d1919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26); */
}

.header__title {
  margin: auto;
  font-weight: normal;
}

.header-score {
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 4.4rem;
}

.header-score__icon {
  height: 2rem;
  fill: white;
}

.header-score__value {
  font-size: 1.5rem;
}
