main {
  grid-area: main;
  height: 100vh;
  padding: 1rem;
}

.tabs {
  position: relative;
  height: 100%;
}

.tab {
  float: left;
  margin-top: 1px;
}

.tab label {
  position: relative;
  color: rgb(97, 97, 97);
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  background: rgb(197, 197, 197);
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid rgb(131, 131, 131);
}

.tab [type="radio"] {
  display: none;
}

.tab-content {
  position: absolute;
  top: calc(1.5rem + 3px);
  left: 0;
  right: 0;
  bottom: 3rem;
  background: white;
  padding: 1rem;
  border: 1px solid rgb(131, 131, 131);
  z-index: -1;
  border-radius: 0 1rem 1rem 1rem;
}

.data-list {
  display: grid;
  grid-template-columns: fit-content(3rem) 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  height: 100%;
  list-style-type: none;
  overflow-y: scroll;
}

.tab label:hover {
  background-color: gray;
  color: white;
}

[type="radio"]:checked ~ label {
  color: rgb(97, 97, 97);
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type="radio"]:checked ~ label ~ .tab-content {
  z-index: 1;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 1.5rem;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress.talent-value::-webkit-progress-value {
  background-image: linear-gradient(rgb(102, 218, 8), rgb(13, 109, 13));

  border-radius: 4px;
  background-size: auto auto;
}

progress.learning-points::-webkit-progress-value {
  background-image: linear-gradient(rgb(187, 221, 248), rgb(135, 162, 250));

  border-radius: 4px;
  background-size: cover cover;
}

progress[value]:after {
  content: attr(value);
  position: relative;
  right: -60%;
  top: -88%;
}

meter[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 1.5rem;
}

meter[value]::-webkit-meter-bar {
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
